 /* Start Variables */
 :root {
     --alt-color: #FF7575;
     --op-color: #909090;
     --txt-color: #000;
 }

 /* End Variables */
 /* Start Global Rules */
 * {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     padding: 0px;
     margin: 0px;
 }

 html {
     scroll-behavior: smooth;
 }

 body {
     font-family: "Poppins", sans-serif;
     background-color: #232830;
     color: #fff;
 }

 ul {
     list-style: none;
 }

 a {
     text-decoration: none;
     color: #fff;
 }

 .container {
     padding-left: 15px;
     padding-right: 15px;
     margin-left: auto;
     margin-right: auto;
 }

 @media (min-width: 768px) {
     .container {
         width: 750px;
     }
 }

 @media (min-width: 992px) {
     .container {
         width: 970px;
     }
 }

 @media (min-width: 1200px) {
     .container {
         width: 1170px;
     }
 }

 /* ÙEnd Global Rules */
 /* Start Header */
 .header {
     height: 100px;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .header .logo {
     font-size: 30px;
 }

 .header .links {
     display: flex;
     gap: 20px;
 }

 .header .links li a {
     font-size: 24px;
     transition: 0.3s;
     -webkit-transition: 0.3s;
     -moz-transition: 0.3s;
     -ms-transition: 0.3s;
     -o-transition: 0.3s;
 }

 .header .links li a:hover {
     color: var(--alt-color, #FF7575);
 }

 /* End Header */
 /* Start Landing */
 .landing {
     height: calc(100vh - 100px);
     display: grid;
     place-content: center;
     text-align: center;
 }

 .landing .image {
     text-align: center;
 }

 .landing .image img {
     max-width: 100%;
     width: 200px;
 }

 .landing h1 {
     font-weight: 400;
     font-size: 71px;
     color: var(--alt-color, #FF7575);
     font-style: italic;
     font-family: "Recursive", sans-serif;
 }

 .landing p {
     font-size: 29px;
 }

 /* End Landing */
 /* Start sections */
 .sections {
     height: 65px;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 20px;
     margin-bottom: 100px;
     position: relative;
 }

 .sections li {
     font-family: "Recursive", sans-serif;
     font-style: italic;
     font-size: 24px;
     color: var(--op-color, #909090);
     position: relative;
     cursor: pointer;
     transition: 0.3s;
     -webkit-transition: 0.3s;
     -moz-transition: 0.3s;
     -ms-transition: 0.3s;
     -o-transition: 0.3s;
 }

 .sections>li:last-child>img {
     position: absolute;
     right: -1ch;
     top: 0px;
 }

 .sections li:hover {
     color: var(--alt-color, #FF7575);
 }

 /* End sections */
 /* Start Courses */
 .courses {
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(366px, 1fr));
     gap: 20px;
     margin-bottom: 100px;
 }

 .courses .course {
     padding: 20px 0px;
     background-color: #fff;
     height: 439px;
     border-radius: 22px;
     -webkit-border-radius: 22px;
     -moz-border-radius: 22px;
     -ms-border-radius: 22px;
     -o-border-radius: 22px;
     display: flex;
     flex-direction: column;
 }

 .courses .course .text {
     color: var(--txt-color, #000);
     margin-left: 20px;
 }

 .courses .course .text h3 {
     margin-top: 20px;
     font-size: 19px;
     font-weight: 600;
     line-height: 28.5px;
 }

 .courses .course .text p {
     line-height: 24px;
     margin: 20px 0px;
 }

 .courses .course .wrapper {
     color: var(--txt-color, #000);
     flex-grow: 1;
     display: flex;
     justify-content: space-between;
     flex-direction: column;
 }

 .courses .course .wrapper>p {
     margin-left: 20px;
     display: flex;
 }

 .courses .course .wrapper>p span {
     display: block;
     position: relative;
     width: 5px;
     height: 5px;
     background-color: var(--op-color, #909090);
     margin: 0px 10px;
     top: 6px;
     border-radius: 50%;
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     -ms-border-radius: 50%;
     -o-border-radius: 50%;
 }

 .courses .course .image {
     text-align: center;
 }

 /* End Courses */
 /* Start Pagination */
 .pagination {
     height: 47px;
     display: flex;
     justify-content: center;
     align-items: flex-end;
     font-family: "Recursive", sans-serif;
     font-style: italic;
     color: var(--op-color, #909090);
     margin-bottom: 100px;
     font-size: 25px;
 }

 .pagination>ul {
     display: flex;
     gap: 20px;
 }

 .pagination>ul li {
     cursor: pointer;
     transition: 0.3s;
     -webkit-transition: 0.3s;
     -moz-transition: 0.3s;
     -ms-transition: 0.3s;
     -o-transition: 0.3s;
 }

 .pagination>ul li:hover {
     color: var(--alt-color, #FF7575);
 }

 .pagination>ul>ul {
     display: flex;
     gap: 20px;
 }

 .pagination>ul>ul li {
     position: relative;
 }

 .pagination>ul>ul li:nth-child(2) {
     color: var(--alt-color, #FF7575);
 }

 .pagination>ul>ul li:nth-child(2)::before {
     content: "";
     position: absolute;
     width: calc(20px + 1ch);
     height: 2px;
     background-color: var(--alt-color, #FF7575);
     top: -20px;
     left: calc(50% + 3px);
     transform: translateX(-50%);
     -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
     -ms-transform: translateX(-50%);
     -o-transform: translateX(-50%);
 }

 /* End Pagination */
 /* Start footer */
 .footer {
     display: flex;
     justify-content: space-between;
     padding: 20px;
 }

 .footer p:first-child {
     display: flex;
     font-size: 30px;
     font-weight: 600;
 }

 .footer p:first-child span {
     font-size: 19px;
     margin-left: 10px;
     background-color: #4699E0;
     padding: 5px;
     display: grid;
     place-content: center;
     border-radius: 5px;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     -ms-border-radius: 5px;
     -o-border-radius: 5px;
 }

 .footer p:last-child {
     font-size: 19px;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #4699E0;
     padding: 5px;
     border-radius: 5px;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     -ms-border-radius: 5px;
     -o-border-radius: 5px;
 }

 .footer p:last-child img {
     margin-right: 10px;
 }

 /* End footer */
 .border {
     height: 3px;
     background-color: #4D4D4D;
 }